
.article-content {
  display: block;
  width: 100%;
  overflow: auto;
}
.article {
  display: block;
  max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}

.columns {
    margin-top: .1rem;
}

.CodeMirror {
   height: 800px;
}

.markdown-body {
    height: 800px;
}
.markdown-body table {
    display: block;
}

.markdown-body table tbody td, 
.markdown-body table thead th {
    border-width: 1px;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdown-body table tbody tr:last-child td, 
.markdown-body table tbody tr:last-child th {
    border-bottom-width: 1px;
}
