.select {
    width: 100%;
}

.column {
    padding: 0;
}

.control,.select,.input {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace!important;
    font-size: 1.2rem!important;
}

.search-button {
    font-size: 1.2rem;
}