@import url(./styles/codemirror.css);
@import url(./styles/seti.css);

.columns {
    margin-top: .1rem;
}

.CodeMirror {
   height: 800px;
}

.markdown-body {
    height: 800px;
    overflow: scroll;
}
.markdown-body table {
    display: block;
}

.markdown-body table tbody td, 
.markdown-body table thead th {
    border-width: 1px;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdown-body table tbody tr:last-child td, 
.markdown-body table tbody tr:last-child th {
    border-bottom-width: 1px;
}
