<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- In HTML5 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    <link rel="icon" type="image/png" href="/favicon.ico?v=201701041855" />
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% include "./header.html" %}
    <div id="container">
      {% block body %} 
      {% endblock %}
    </div>
    {% include "./footer.html" %} 
    {% block footer %} 
    {% endblock %}
  </body>
</html>
