<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            技术博客
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            {% for item in category %}
                <a class="navbar-item" href="/{{ item.alias_name }}?cid={{item.category_id}}">
                    <span class='{% if matchPage == item.alias_name %}is-active{% endif %}'>{{ item.category_name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</nav>