<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- In HTML5 -->
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Redirect page after 5 seconds -->
    <!-- <meta http-equiv="refresh" content="5;url=http://kongzi.ga/"> -->
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    {% block header %}
    {% endblock %}
</head>

<body>
    <div id="container">

        {% include "./header.html" %}

        <div id="root" class="container is-fullhd">
            {% block body %}
            {% endblock %}
        </div>

        {% include "./footer.html" %}

    </div>
    {% block footer %}
    {% endblock %}
</body>

</html>